header{
    background-color: gray;
    height: 100px;
}
nav li{
    margin-left:5%;
    margin-right: 5%;
    margin-top: 3.5%;
    margin-bottom: 2.5%;
   display: inline-block;
   text-align: center;
   padding: 1px;

}
nav img{
    float: left;
    margin-left: 5%;
    margin-top:1%;
    margin-bottom: 1%;
    margin-right: 3%;
}
div img {
    display: block;
    margin: 0 auto;
margin-top: 2%;
margin-bottom: 2%;

}
